<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/styles.css">

  <title>HomePage</title>
</head>

<body>
  <!-- Header -->
  <header class="header">
    <div class="inner-wrap">
      <div class="inner-logo">
        <a href="#">
          <img src="../static/images/ptit_1.png" alt="Logo">
          <span>PTIT</span>
        </a>
      </div>
      <div class="inner-menu">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
      <div class="inner-social">
        <ul>
          <li>
            <a href="/login" target="_blank">
              <i class="fa-solid fa-user"></i>
              <span>Login</span>
            </a>
          </li>
          <li>
            <a href="/register" target="_blank">
              <i class="fa-solid fa-registered"></i>
              <span>Register</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="inner-icon-mobi">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
  </header>
  <!-- End  Header -->

  <!-- Section-one -->
  <div class="section-one">
    <div class="container">
      <div class="inner-wrap">
        <div class="box-head">
          <h2 class="inner-sub-title">
            Ministry of Information and Communications
          </h2>
          <h1 class="inner-title">
            PTIT
          </h1>
          <p class="inner-desc">
            Welcome to Posts and Telecommunications Institute of Technology
          </p>
        </div>
        <div class="inner-buttons">
          <a href="#" class="button button-two">Our Services</a>
          <a href="#" class="button button-two-outline">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section-one -->